.cabecalho-menu-hamburguer {
    width: 44px;
    height: 44px;
    background-image: url(../img/menu.svg);
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
}
